# Mali
/dev/ump                  0666   system     graphics
/dev/mali                 0666   system     graphics

# Amlogic AV streaming devices
/dev/uio0                 0666   system     system
/dev/amaudio_ctl          0666   system     audio
/dev/amstream_abuf        0666   system     audio
/dev/amstream_mpps        0666   system     audio
/dev/amstream_mpts        0666   system     audio
/dev/amstream_rm          0666   system     audio
/dev/amstream_sub         0666   system     audio
/dev/amstream_sub_read    0666   system     audio
/dev/amstream_vbuf        0666   system     audio
/dev/amvideo              0666   system     audio
/dev/audiodsp0            0666   system     audio
/dev/video0               0666   system     system
/dev/video1               0666   system     system
/dev/amjpegdec            0666   system     system
/dev/ge2d                 0666   system     system
/dev/vdin0                0666   system     system

# AmlogicPlayer and HdmiSwitch
/dev/graphics/fb0         0666   root       graphics
/dev/graphics/fb1         0666   root       graphics

# Gps
/dev/ttyS1                0666	 system     system
/dev/ttyS2                0666	 system     system
/dev/ttya0                0666	 system     system
/dev/ttya1                0666	 system     system
/dev/ptya0                0666	 system     system
/dev/ptya1                0666	 system     system

# Camera
/dev/video0               0660   root       camera
/dev/video1               0660   root       camera
/dev/video2               0660   root       camera

/dev/qemu_trace           0666   system     system

/dev/ttyHS0               0600   bluetooth  bluetooth

#USB
/dev/ttyUSB* 0660 system system
/dev/ttyS*                0666   system     system
/proc                     0666   system     system

# InvenSense
/dev/accelirq 0660 system system
/dev/mpu 0660 system system
/dev/mpuirq 0660 system system
/dev/timerirq 0660 system system

# MEMSIC
/dev/ecompass_ctrl 0660 system system
